<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>사구팔구</title>
</head>
<body>

<div class="mypage-container">
  <div class="sidebar">
    <h3>나의 주문내역</h3>
    <ul>
      <li><a href="/mypage/order">구매 내역</a></li>
      <li><a href="#">취소 내역</a></li>
    </ul>

    <hr>
    <h3>나의 관심상품</h3>
    <ul>
      <li><a href="#">찜 목록</a></li>
      <li><a href="#">최근 조회 내역</a></li>
      <li><a href="#">자주본 상품</a></li>
    </ul>

    <hr>
    <h3>나의 문의내역</h3>
    <ul>
      <li><a href="#">문의 하기</a></li>
      <li><a href="#">문의 내역</a></li>
    </ul>

    <hr>
    <h3>나의 정보관리</h3>
    <ul>
      <li><a href="#">개인 정보 수정</a></li>
      <li><a href="#">회원 탈퇴</a></li>
    </ul>
  </div>
</div>
</body>
</html>